<table width="550" valign="top" align="center" class="footer" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" style="padding:45px 20px 20px 20px; margin:0 auto; color:#999999; border-collapse:separate; " >
  <tr>
    <td>
     <!-- <hr style="margin: 20px 0; border: none; background-color: #999999; height: 1px;"> -->
      <table class="footer__address-container" cellpadding="0" cellspacing="0" align="left" width="145" style="padding-bottom:20px; ">
        <tr>
          <td id="address" class="footer__address-container__address mktEditable" style="color:#999999; font-size:12px; ">814 Mission St.<br>5th Floor <br>San Francisco, CA 94103<br> <strong>T</strong> + 1 415 273 1389<br><strong>F</strong> + 1 415 839 4861<br>
            <a style="text-decoration: none;" href="http://engage.thoughtworks.com/wD0EQ0PQn00000Ix0000j0n">Other Offices »</a>
          </td>
        </tr>
      </table>

      <table class="footer__social-container mktEditable" cellpadding="0" cellspacing="0" align="right" width="132" >
        <tr>
          <td>
            <a href="http://engage.thoughtworks.com/ZDQ000IrP0000000d00nEQn" style="text-decoration: none;">
              <img src="http://info.thoughtworks.com/rs/thoughtworks2/images/logo-twitter-gray.png" alt="twitter" border="0" width="40" height="25">
            </a>
            <a href="http://engage.thoughtworks.com/An0s00QD00QPI0000n0e00E" style="text-decoration: none;">
              <img src="http://info.thoughtworks.com/rs/thoughtworks2/images/logo-googleplus-gray.png" alt="google+" border="0" width="40" height="25">
            </a>
            <a href="http://engage.thoughtworks.com/itnQ0QDI0fn00P000000E00" style="text-decoration: none;">
              <img src="http://info.thoughtworks.com/rs/thoughtworks2/images/logo-youtube-gray.png" alt="youtube" border="0" width="40" height="25">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="footer__links" style="font-size: 12px; text-align: center; width: 100%;">
        <tr>
          <td>
            <hr style="margin: 20px 0; border: none; background-color: #999999; height: 1px;">
            <a href="http://engage.thoughtworks.com/GID0En000y0kQ0Pn00000Q0" style="text-decoration: none; color: #999999;">www.gauge.org</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<a href="http://engage.thoughtworks.com/j0zD0I0nQ000000QEPl0n00"></a>
<img src="http://engage.thoughtworks.com/trk?t=1&mid=MTk5LVFERS0yOTE6MjQwNzk6MDowOjA6MjU4Mjk6MDowOmdvLWluQHRob3VnaHR3b3Jrcy5jb20%3D" width="1" height="1" style="display:none !important;" alt="" />
<p><font face="Verdana" size="1">This email was sent to subscribers of Gauge product updates. If you no longer wish to receive these emails you may manage your <a href="http://engage.thoughtworks.com/u/K0000QD00nng0uP000IQ0E0">email preferences</a> at any time. </font> </p>
</body>
</html>
